#detail {
  .box {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 180px;
    .dTitle {
      font-size: 30px;
      color: #333333;
      line-height: 30px;
      margin-top: 28px;
    }
    .created_at {
      font-size: 14px;
      color: #828282;
      margin-top: 18px;
      margin-bottom: 30px;
    }
  }
}
